Repository openframeworks/openFrameworks, pull requests merged in 2018-03, with the labels that each got.

#5911 Fixes #2449 ofxiOSKeyboard position
  addons/ofxiOS/src/utils/ofxiOSKeyboard.mm
Labels: iOS

#5914 Fixes #4596 - Medium P to High P for Shader Floating Point Precision
  libs/openFrameworks/gl/ofGLProgrammableRenderer.cpp
Labels: iOS

#5918 iOS/tvOS - Fixes Update and Draw being called before Setup
  addons/ofxiOS/src/core/ofxiOSEAGLView.mm
Labels: critical, iOS, tvOS

#5924 Fix teardown order
  libs/openFrameworks/app/ofAppGLFWWindow.cpp
  libs/openFrameworks/app/ofMainLoop.cpp
Labels: core, windows

#5736 Support for Android API 25
  .travis.yml
  addons/ofxAndroid/ofAndroidLib/build.gradle
  addons/ofxAndroid/ofAndroidLib/src/cc/openframeworks/OFActivity.java
  addons/ofxAndroid/ofAndroidLib/src/cc/openframeworks/OFAndroid.java
  addons/ofxAndroid/ofAndroidLib/src/cc/openframeworks/OFAndroidSoundPlayer.java
  addons/ofxAndroid/ofAndroidLib/src/cc/openframeworks/OFAndroidVideoPlayer.java
  addons/ofxAndroid/src/ofxAndroidUtils.cpp
  addons/ofxAndroid/src/ofxAndroidUtils.h
  addons/ofxAndroid/src/ofxAndroidVideoGrabber.cpp
  examples/android/.gitignore
  examples/android/androidCameraExample/src/ofApp.cpp
  libs/openFrameworksCompiled/project/android/build.gradle
  libs/openFrameworksCompiled/project/android/ndk-verify.gradle
  scripts/ci/android/install.sh
  scripts/templates/android/build.gradle
Labels: android

#5912 Fix GL_INVALID_OPERATION on OpenGL ES 2.0 +
  libs/openFrameworks/gl/ofGLProgrammableRenderer.cpp
Labels: android, critical, iOS, open gl es, webgl

#5920 Use the textureMatrix supplied from SurfaceTexture
  addons/ofxAndroid/src/ofxAndroidVideoGrabber.cpp
Labels: android
