Repository openframeworks/openFrameworks, pull requests merged in 2024-10, with the labels that each got.

#7441 ofOpenALSoundPlayer Filesystem
  libs/openFrameworks/sound/ofAVEngineSoundPlayer.mm
  libs/openFrameworks/sound/ofOpenALSoundPlayer.cpp
  libs/openFrameworks/utils/ofConstants.h
Labels: filesystem

#8158 Fix for of::filesystem::path and string for gst video player.
  libs/openFrameworks/video/ofGstVideoPlayer.cpp
Labels: section-video

#8092 GLFW transparent window background touch/click pass through
  examples/windowing/transparentWindow/README.md
  examples/windowing/transparentWindow/src/main.cpp
  examples/windowing/transparentWindow/src/ofApp.cpp
  examples/windowing/transparentWindow/src/ofApp.h
  examples/windowing/transparentWindow/transparentWindow.png
  libs/openFrameworks/app/ofAppBaseWindow.h
  libs/openFrameworks/app/ofAppGLFWWindow.cpp
  libs/openFrameworks/app/ofAppGLFWWindow.h
  libs/openFrameworks/app/ofAppRunner.cpp
  libs/openFrameworks/app/ofAppRunner.h
Labels: glfw
