Repository openframeworks/openFrameworks, pull requests merged in 2025-02, with the labels that each got.

#8280 macOS Xcode fixes - Archiving / osx app bin
  .editorconfig
  libs/openFrameworksCompiled/project/ios/CoreOF.xcconfig
  libs/openFrameworksCompiled/project/macos/CoreOF.xcconfig
  libs/openFrameworksCompiled/project/osx/CoreOF.xcconfig
  libs/openFrameworksCompiled/project/tvOS/CoreOF.xcconfig
  scripts/osx/xcode_project.sh
Labels: xcode, macOS

#8281 create a map of the bones instead of searching for all the meshes
  addons/ofxAssimp/src/Source/ofxAssimpSrcScene.cpp
  addons/ofxAssimp/src/Source/ofxAssimpSrcScene.h
Labels: addon

#8303 Remove boost from vs and vs2019 projects.
  libs/openFrameworksCompiled/project/vs/openFrameworksDebug.props
  libs/openFrameworksCompiled/project/vs/openFrameworksRelease.props
  libs/openFrameworksCompiled/project/vs/openframeworksLib.vcxproj
  libs/openFrameworksCompiled/project/vs2019/openFrameworksDebug.props
  libs/openFrameworksCompiled/project/vs2019/openFrameworksRelease.props
  libs/openFrameworksCompiled/project/vs2019/openframeworksLib.vcxproj
Labels: visual studio
